@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    background-color: #1E1D2B;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin:0;
    padding:0;
}
html{
    font-size: 16px;
}

.header {
    width:100vw;
    position:fixed;
    z-index: 10;
    
}
.navTable {
    width: 50vw;
    height:5vh;
}
.menuElements {
    text-align: right;
    font-size: 2rem;
    padding-right: 4rem;
    font-weight:600;
}
h1{
    margin-bottom:0.4rem;
}
.navLink {
    color:white;
    text-decoration: none;
    margin:1rem;

}
button {
    background-color:#FF702A;
    color:white;
    border: none;
    padding:0.4rem;
    padding-left:1rem;
    padding-right:1rem;   
}
#title{
    color: #FF702A;
    text-align: left;
    font-size:3rem;
    padding-left: 7rem
}
#home {
    width:100vw;
    height:100vh;
}

#about {
    width:100vw;
    height:100vh;  
}
#menu {
    width:100vw;
    height:100vh;
}
#service{
    width:100vw;
    height:100vh;
}
#contact {
    width:100vw;
    height:100vh;
}
#homeLayout{
    width:100vw;
    height:100vh;
}
.homeLayoutOne{
    width: 50vw;
}
#homeFirst{
    text-align: left;
    padding-left: 16rem;
    padding-bottom: 16rem;
}
h1{
    color:#FF702A;
    font-size:7rem;
}
#homeSubtitle {
    color:white;
    font-weight:600;
    margin-bottom:3rem;
}
#homeImage {
    padding-bottom: 10rem;
    height: 65vh;
}
.aboutLayout {
    width:50vw;
    height:100vh;
}
#aboutImg{
    padding-left:17vw;
}
.aboutUsTitle {
    color: #FF702A;
}
.aboutSubtitle {
    color:white;
    margin-bottom: 2rem;
}
#paragraphAbout {
    color:white;
}
.aboutItem {
    margin-top: 1rem;
}

.menuLayout {
    position:relative;
    border-collapse: separate;
    border-spacing: 5rem 0px;
    width:70vw;
    margin:auto;
    text-align: center;
    top:15vh;
    padding:1rem;
}
.beige{
    background-color: #FFEFE8;
    margin:1rem;
}
#menuTitle {
    padding:1rem;
}

.menuItem{
    margin:10px;
}
.classService {
    width:18vw;
}
.serviceTitle{
    font-size: 1.5rem;
    color:#FF702A
}
.serviceParagraph {
    font-size: 1rem;
    color:white;
}

#upperContact {
    width:100vw;
    height:70vh;
}

#lowerContact{
    width:100vw;
    height:30vh;
}

#upContactMain{
    height:50vh;
    width:70vw;
    position:relative;
    margin:auto;
    background-color: #FFEFE8;
    text-align: center;
    padding-top:15rem;
    font-weight: bold;
    font-size: 4rem;
}
#contactButton {
    position:relative;
    z-index: 10;
}